ion-img {
  width: 35%;
  margin: 2% auto;
}
h4 {
  font-weight: bold;
  font-size: 19px;
}
p {
  font-size: 13px;
}
ion-button {
  --background: #fcba7d;
  --border-radius: 10px;
  text-transform: none;
}